/* line 3, ../sass/style.scss */
body {
  background: url(../images/white_wall.png);
}

/* line 15, ../sass/style.scss */
#header .region-header .views-field-field-slide-image img, #header .region-header #views_slideshow_cycle_teaser_section_slides-block_1, #header .region-header .views_slideshow_slide {
  width: 100% !important;
  height: auto !important;
}

/* line 23, ../sass/style.scss */
#main #content, #main .sidebars {
  margin-top: 2em;
}

/* line 28, ../sass/style.scss */
#navigation #main-menu {
  width: 100%;
  height: auto;
  background: url(../images/little_pluses.png);
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 14px;
  font-weight: bold;
  font-size: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px #cccccc;
  -moz-box-shadow: 0px 1px 2px #cccccc;
  box-shadow: 0px 1px 2px #cccccc;
}
/* line 41, ../sass/style.scss */
#navigation #main-menu ul.links li {
  display: inline;
  border-right: 1px solid;
}
/* line 44, ../sass/style.scss */
#navigation #main-menu ul.links li.last {
  border-right: 0;
}
/* line 48, ../sass/style.scss */
#navigation #main-menu li a {
  text-decoration: none;
  color: #000;
  text-shadow: 1px 1px 1px white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition-property: all 0.3s ease-in-out;
  -moz-transition-property: all 0.3s ease-in-out;
  -ms-transition-property: all 0.3s ease-in-out;
  -o-transition-property: all 0.3s ease-in-out;
  transition-property: all 0.3s ease-in-out;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 56, ../sass/style.scss */
#navigation #main-menu li a:hover {
  color: #c2200b;
  background: #fff;
  opacity: .5;
}
