@import "base";

body{
  background: url(../images/white_wall.png);
}

#page{
  //background: #fff;
}

a{
  color: $gr-red;
  text-shadow: 1px 1px 1px #ccc;
  text-decoration: none;
}

p.submitted{
  margin: 0 0 0 .5em;
}
.view-blogs{
  ul.links{
    float: right;
    margin: 0;
  }
  .node-story{
    //margin-bottom: 1.5em;
    .field-items{
      padding: 0 .5em;
    }
  }
}

#edit-title{
  width: 90%;
}

.view-job-listing{
  .views-row{
    font-size: 1.2em;
    padding-top: .75em;
  }
}

#header{
  #logo{
  }
  .region-header{
    .views-field-field-slide-image img, #views_slideshow_cycle_teaser_section_slides-block_1, .views_slideshow_slide{
      width: 100% !important;
      height: auto !important;
    }
  }
}

#main{
  #content, .sidebars{
    margin-top: 2em;
  }
}

#navigation #main-menu {
  width: 100%;
  height: auto;
  background: url(../images/little_pluses.png);
  //background-color: #48A9E4;
  //@include background-image(linear-gradient(#48A9E4, #0779BF));
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 14px;
  font-weight: bold;
  font-size: 18px;
  @include border-radius(5px);
  @include box-shadow(0px 1px 2px #ccc);
  ul.links li {
    display: inline;
    border-right: 1px solid;
    &.last{
      border-right: 0;
    }
  }
  li a {
    text-decoration: none;
    //padding: 5% 15px;
    //color: $gr-red;
    color: #000;
    @include single-text-shadow(1px, 1px, 1px, #fff);
    @include border-radius(5px);
    @include single-transition(all .3s ease-in-out);
    &:hover {
      color: $gr-red;
      text-shadow: 2px 2px 2px #ccc;
      background: #fff;
      opacity: .75;
    }
  }
}
