@import "base";

body{
  background: url(../images/white_wall.png);
}

#page{

}

h1.title, h2.node-title, h2.block-title, h2.title, h2.comment-form, h3.title{
  @include single-text-shadow(1px, 1px, 1px, #fff)
}

a{
  color: $gr-red;
  @include single-text-shadow(1px, 1px, 1px, #ccc);
  text-decoration: none;
}

p.submitted{
  margin: 0 0 0 .5em;
}
.view-blogs{
  ul.links{
    float: right;
    margin: 0;
  }
  .node-story{
    //margin-bottom: 1.5em;
    .field-items{
      padding: 0 .5em;
    }
  }
}

#edit-title{
  width: 90%;
}

.view-job-listing{
  .views-row{
    font-size: 1.2em;
    padding-top: .75em;
  }
}

#header{
  #logo{
  }
  .region-header{
    .views-field-field-slide-image img, #views_slideshow_cycle_teaser_section_slides-block_1, .views_slideshow_slide{
      width: 100% !important;
      height: auto !important;
    }
  }
}

#main{
  #content, .sidebars{
    margin-top: 2em;
  }
}

#navigation #main-menu {
  width: 100%;
  height: auto;
  background: url(../images/little_pluses.png);
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 14px;
  font-weight: bold;
  font-size: 18px;
  @include border-radius(5px);
  @include box-shadow(0px 2px 2px #ccc);
  ul.links li {
    display: inline;
    border-right: 1px solid;
    &.last{
      border-right: 0;
    }
  }
  li a {
    text-decoration: none;
    color: #000;
    @include single-text-shadow(1px, 1px, 1px, #fff);
    @include border-radius(5px);
    @include single-transition(all .3s ease-in-out);
    &:hover {
      color: $gr-red;
      @include single-text-shadow(2px, 2px, 2px, #ccc);
      background: #fff;
      opacity: .75;
    }
  }
}

.mug-badge{
  h3 a{
    color: mintcream !important;
    @include single-text-shadow(1px, 1px, 1px, #000);
  }
  .mup-widget .mup-bd{
    background-color: $gr-red !important;
    border: 1px solid #000 !important;
    @include box-shadow(0px 2px 2px #ccc);
  }
}
